{% extends "themes/html5.html" %}
{% load static from staticfiles %}
{% load ionyweb_tags i18n mptt_tags %}

{% block theme-design-css %}
	<!-- Bootstrap -->
	<link href="{% static 'themes/fimu/default/css/bootstrap.min.css' %}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{% static 'themes/fimu/default/css/bootstrap-responsive.css' %}" rel="stylesheet">
    <!-- Theme -->
	<link rel="stylesheet" type="text/css" HREF="{% static 'themes/fimu/default/css/styles.css' %}">
{% endblock %}

{% block theme-design-js %}

<script type="text/javascript" language="javascript" >
    $(document).ready(function () {
          $('.dropdown-toggle').dropdown();
    }); 
 </script>

{% endblock %}
{% block body %}
<div class="container">
	<div class="container">
        {% render_layout "header" %}
        <div style="clear: both"></div>

		<div class="navbar" id="menu">
			<div class="navbar-inner">
                {% render_navigation %}
			</div>
		</div>
	</div>
			
	<div class="container">
		<div class="row">
            {% block page %}{% render_page %}{% endblock %}						
            <div style="clear: both;"></div>
		</div>
	</div>
	<div class="container" id="footer">
        {% render_layout "footer" %}
        <div style="clear: both;"></div>
	</div>
</div>
{% endblock %}
