body {
	background-color: #b6df6a;
	padding-top:10px;
}

#footer {
	/*position: absolute;
	bottom: 0;*/
	text-align: center;
	padding-top: 15px;
}

#module {
	text-align: center;
	background-color: #F3F3F3;
	padding-top: 5px;
	padding-bottom: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px #777;
}

#menu {
	padding-top : 10px;
}
#menu.navbar{
	padding: 0px 0px 0px 0px;
}

h4{
	line-height:0px;
}

p.text{
	text-align: justify;
}

.link{
	float: left;
	padding-top:10px;
}

.link.visible-phone{
	width:100%;
	text-align:center;
}

p.link.visible-phone{
	text-align:center;
}

.link.visible-phone button{
	padding:0px 0px 0px 0px;
	line-height: 40px;
	width:100px;
	margin-right: 10px;
}

.nav.visible-phone a{
	font-size: 10px;
	line-height:30px;
	padding: 7px 3px 7px 3px !important;
}

/* ---------- Pour la page "Planning" -------------- */
#scrolling {
	width: 85%;
	max-width: 85%;
	overflow-x:scroll;
}
#scrollingphones {
	width: 71%;
	max-width: 71%;
	overflow-x:scroll;
	margin:0px;
}

.prog {
	background:white;
}

#tablescenes {
	width: 15%;
	max-width: 15%;
	float: left;
	margin-bottom: 0px;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}
#tablescenesphones {
	width: 28%;
	max-width: 28%;
	float: left;
	margin-bottom: 0px;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

#tablescenes th{
	height: 40px;
	line-height: 40px;
	padding: 0px;
}
#tablescenesphones th{
	width: 28%;
	height: 40px;
	line-height: 40px;
	padding: 0px;
}
#tablescenes td{
	width: 15%;
	height: 60px;
	vertical-align: middle;
	padding: 0px;
}
#tablescenesphones td{
	height: 60px;
	vertical-align: middle;
	padding: 0px;
	font-size: 12px;
}

#tableconcerts {
	width: 1692px;
	max-width: 1692px;
	margin-bottom: 0px;
	border-bottom: 1px solid #DDDDDD;
	/*table-layout: fixed*/
	/*float: left;*/
}

#tableconcerts td {
	float: left;
	width: 70px;
	height: 60px;
	/*line-height: 10px;*/
	text-align: center;
	vertical-align: middle;
	padding: 0px;
	font-size: 12px;
	font-weight:bold;
	/*text-shadow:#888888 1px 1px 1px;*/
}

#tableconcerts td.dec {
	padding-left: 12px;
}

#tableconcerts th {
	float: left;
	width: 70px;
	max-width: 70px;
	height: 40px;
	line-height: 60px;
	text-align: left;
	padding: 0px;
	/*overflow: visible;
	white-space: nowrap;*/
}

#tableconcerts th.demiheure {
	float: left;
	font-size: 10px;
	color: #767676;
	text-align: left;
}

/* ---- Couleur types musiques ---- */
#tableconcerts td.mactuelle {
	background-color : #dc9f32;
}
#tableconcerts td.mdumonde {
	background-color : #018399;
}
#tableconcerts td.mclassique {
	background-color : #4753a5;
}
#tableconcerts td.mnouvelle {
	background-color : #8ec755;
}
#tableconcerts td.jazz {
	background-color : #aa1667;
}
#tableconcerts td.autre {

	background-color : #f9e136;
}

#tableconcerts td.pluspetit {
	font-size: 10px;
}

#tableconcerts td.colspan2 {
	width: 140px;				/*  taille_cellule*2 + 1*17 */
}
#tableconcerts td.colspan3 {
	width: 210px;				/*  taille_cellule*3 + 2*17 */
}
#tableconcerts td.colspan4 {
	width: 280px;				/*  taille_cellule*4 + 3*17 */
}


/**************
	Groupes
**************/

.arrondi{
	border-radius: 7px;
}

#titreGroupe{
	padding-bottom: 8px;
}

#tableauRechercheGroupe{
	margin-bottom : 10px;
	text-align: center;
	background-color: #a3cf62;
	border-radius: 7px;
}

#tableauRechercheGroupe td{
	padding-top : 10px;
}

#tableauRechercheGroupe td.span2{
	padding-top : 2px;
	padding-right : 8px;
}

#tableauRechercheGroupe td#rechercheDebut{
	padding-left : 8px;
}

#tableauRechercheGroupe.visible-phone td{
	padding-top : 5px;
}

#tableauRechercheGroupe.visible-phone input,select{
	margin-bottom : 5px;
	width: 100%;
}